* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: bisque;

}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    
    justify-content: space-around;
}

main {
    height: 1000px;
    background-color: blue;
}

footer {
    height: 100px;
    background-color: blueviolet;
}